<div>
 <h5><%= link_to my_product.name, mine_product_path(my_product) %></h5>
 <h7><%= my_product.address %></h7>
 <br>
   <div>
    <% if my_product.photos? %>
      <% my_product.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 150, height: 150, crop: :fill %>
     <% end %>
    <% end %>
    </div>
</div>
