<div class="container minha-kasamba">
  <h2>Minha Kasamba</h2>
  <hr>
  <% @my_products.each do |product|  %>
    <h3><%= link_to product.name, mine_product_path(product), style:"color:#299D7D; " %></h3>
  <% end %>
  <br>

  <%= link_to 'Kasambe um novo resíduo', new_mine_product_path, class: "button-index btn btn-success" %>

  <%#= link_to "Ir para os Produtos", products_path, class: "button-index btn btn-warning" %>
</div>

<div class="map affix-top">
  <div id="map">
    <% content_for(:after_js) do %>
     <%= javascript_tag do %>
         $(document).ready(function() {
           var handler = Gmaps.build('Google');
           handler.buildMap({ internal: { id: 'map' } }, function() {
           markers = handler.addMarkers(<%= raw @hash.to_json %>);
           handler.bounds.extendWith(markers);
           handler.fitMapToBounds();
           if (markers.length == 0) {
            handler.getMap().setZoom(6);
           }
           });

            $('.map').affix({
              offset: {
                top: 70,
                bottom:  function () {
                  return (this.bottom = $('.footer').outerHeight(true))
                }
              }
            })
         });
      <% end %>
    <% end %>
  </div>
</div>


