<div class="container" style="min-height: 100%">
  <% if !@order_iten.nil? && @order_iten.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_iten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="order-kasamba padded">
    <%= render 'order_list' %>
  </div>

</div>
