// Your footer style
.footer {
  background: #333333;
  padding: 0px 0;
  color: #CCCCCC;
}

.footer a {
  color: #CCCCCC;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

.footer p {
  margin-top: 15px;
}

.footer ul {
  margin-top: 10px;
}

.footer a:hover{
  color: #1B935D;
}

.fix-position {
  margin-top: 5px;
}

.lewagon-footer{
  font-size: 15px;
  font-weight: lighter;
}

.lewagon-footer a{
  color: #0B7C42;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 1px
}

.lewagon-footer a:hover{
  color: #14ce6e;
}
