.btn-order{
  border-radius: 10px;
}

.card-button{
  border-radius: 10px;
}

.card-button-center{
  position: absolute;
  bottom: 20px;
  width: 100%
}

.btn-login{
  border-radius: 4px;
}

.button-index-kassambe{
  bottom: 20px;
  width: 35%;
  border-radius: 7px;
}
