.card-product {
  height: 300px;
  width: 305px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 33px;
  margin-top: 45px;
  border-radius: 7px;
}

.card-avatar-product-user {
  position: relative;
  top: 20px;
  left: 131px;
}

.card-product-user{
  font-size: 20px;
  text-align: center;
}

.card-button{
  margin-top: 59px;
  margin-left: 121px;
}

// .card-description{
//   margin-bottom: 75px;
//   margin-left: 22px;
//   text-align: center;
// }

.card-description{
  margin-left: 16px;
  margin-top: 20px;
}

.card-user-product{
  margin-top: 20px;
  font-size: 30px;
  margin-left: 10px;
}

.card-category{
  margin-left: 16px;
  margin-bottom: 21px;
  margin-top: 39px;
  font-size: 10px;
}

.flexbox{
  display: flex;
}

