.card{
    width: 100%;
    height: 100%;
    background-size: cover !important;
}


.link-to-text-color{
    color: black;
}

.card-product {
  min-height: 439px;
  width: 300px;
  margin-bottom: 43px;
  margin-top: 45px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 13px;
  position: relative;
}

.card-avatar-product-user {
  position: relative;
  top: -13px;
  text-align: center;
}

.card-product-user{
  font-size: 20px;
  margin-top: 31px;
  text-align: center;
}

.startup {
  font-size: 13px;
  font-weight: lighter;
}

// .card {
//   height: 100%;
//   width: 100%;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   color: white;
//   position: relative;
//   margin-bottom: 30px;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 10px;
//   text-transform: uppercase;
// }
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 13px;
//   }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover{
//   opacity: 0.1;
// }
.card-button{
  border-radius: 10px;
}

// .card-description{
//   margin-bottom: 75px;
//   margin-left: 22px;
//   text-align: center;
// }

.card-description{
  margin-left: 18px;
  margin-top: 35px;
  text-align: center;
  word-wrap: break-word;
  padding-right: 10px;
}

.card-user-product{
  margin-top: 20px;
  font-size: 30px;
  margin-left: 10px;
  text-align: center;
}

.card-category{
  margin-left: 16px;
  margin-bottom: 21px;
  margin-top: 31px;
  font-size: 10px;
  text-align: center;
}
