.map{
  width: 519px;
  height: 100%;
  right: 20px;
  top: 0;
  display: table;
}

html, body {
  height: 100%;
  background-color: #F8F8F8;
}

#map {
  height: 100%;
}

.map.affix-top {
  top: 70px;
  position: absolute !important;
}

.wrapper{
  min-height: 100%;
}

.products-flexbox{
  display: flex;
  flex-wrap: wrap;
}

.products-flex-item{
  flex: 1 1 auto;
}

.dropdown-index{
  width: 700px;
}

.container{
  margin-top: 35px;
  margin-left: 63px;
}

.row{
  margin-left: -14px;
}

.flexbox-all-div{
  display: flex;
  justify-content: flex-start;
}

.affix-bottom {
    position: absolute;
}
