.map{
  width: 519px;
  height: 100%;
  right: 20px;
  top: 0;
  display: table;
}

// html, body {
//   height: 100%;
//   background-color: #F8F8F8;
// }

#map {
  height: 100%;
}

.map.affix-top {
  top: 70px;
  position: absolute !important;
}

.wrapper-products{
  min-height: 100%;
}


.products-flexbox{
  display: flex;
  flex-wrap: wrap;
}

// .products-flex-item{
//   width: 300px;
//   float: left;
//   margin-right: 30px;
// }

.dropdown-index{
  width: 700px;
}

.container-products{
  margin-top: 35px;
  margin-left: 63px;
}

.row-products{
  @extend .row;
  margin-left: -14px;
  margin-right: 30px;
}

.flexbox-all-div{
  display: flex;
  justify-content: flex-start;
}

.affix-bottom {
    position: absolute;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    /* height: 26px; */
    position: absolute;
    top: 0 !important;
    //bottom: 0 !important;
    right: 15px !important;
    padding: 20px 0;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1.2px solid #E9E7EC;
    border-radius: 2px;
    padding: 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #27C87D;
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 20px;
    margin-top: -8px;
}

html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
  margin-bottom: 60px;
  background-color: #F8F8F8;
}

.products-flexbox-order{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-empty{
  font-size: 34px;
    text-align: center;
    height: 509px;
    /* line-height: 626px; */
    margin-top: 140px;
}

