#card-text-user{
  font-family: 'Julius Sans One', sans-serif;
  color: #34B667;
  text-align: center;
}

#card-text-category{
  margin-top: -15px;
  text-align: center;
  font-weight: bold;
}

.text-name-navbar h2{
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.card-description h5{
  margin-top: -11px;
  text-align: center;
}
