.questions{
  background-color: rgba(230, 230, 230, 0.15);
    padding-top: 10px;
    width: 58%;
    box-shadow: 2px 2px 4px #C9C7CB;
}

.info-products{
  background-color: rgba(230, 230, 230, 0.15);
  margin-top: 3px;
  width: 58%;
  box-shadow: 2px 2px 4px #C9C7CB;
}

.info-products h2{
  color: #559771;
}

.questions h2{
  font-size: 20px;
  font-weight: lighter;
}

.submit-question{
  bottom: 20px;
  border-radius: 7px;
}

.submit-box{
  height: 51px;
  width: 13px;
}

#submit-box{
  margin-bottom: 17px;
}
