.questions{
  padding-top: 10px;
}

.info-products{
  margin-top: 3px;
}

.card-show h2{
  color: #559771;
  margin-top: 0;
}

.submit-question{
  bottom: 20px;
  border-radius: 7px;
}

.submit-box{
  height: 51px;
  width: 13px;
}

#submit-box{
  margin-bottom: 17px;
}

.price h3 {
  font-size: 42px;
}

.card-show {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  width: 58%;
  box-shadow: 2px 2px 4px #C9C7CB;
}
