<p>Ol치, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para notific치-lo que seu email cadastrado no <strong>Kasamba</strong> est치 sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notific치-lo que seu email cadastrado no <strong>Kasamba</strong> foi alterado para <%= @resource.email %>.</p>
<% end %>
