<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou o link para alterar sua senha no <strong>Kasamba</strong>. Você pode realizar a alteração clicando no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha feito essa solicitação, ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
