<div class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <ul class="nav navbar-nav">
        <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Categorias</strong> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle checkbox" data-toggle="dropdown"><%= category.name %> </a>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </ul>
</div>



<!-- http://bootsnipp.com/snippets/n2Xv7 -->
