<div class="row">
  <div class="col-md-12">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('');">
      <div class="text-center banner-content container">
        <h1><strong>KASAMBA<strong></h1>
        <p>Lixo não precisa ser Lixo</p>
        <%= select_tag "category", options_for_select(Category.all.map{|c| [c.name, "/products?category=#{c.id}"] }), id: "selectbox_categories", style: "width: 700px;", prompt: "Escolha uma categoria"%>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" >
  <div class="col-xs-12 text-center"><h3>Veja Nossas Categorias</h3>
</div>
<div class="row">
  <% @categories.each do |category| %>
  <div class="col-xs-12 col-sm-3 center">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
      <div class="card-description text-center">
       <h3><%= link_to category.name, products_path(category: category), class: 'link-to-text-color' %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div> -->
